@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
:root {
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --violet: hsl(264, 64%, 52%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: var(--very-dark-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: #fff;
    width: calc(100vw - 40px);
    max-width: 1110px;
    margin: 0 auto;
}

.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 30px;
    padding: 50px 0;
}

.dashboard__sidebar {
    background: var(--dark-blue);
    border-radius: 15px;
}

.dashboard__profile {
    padding: 30px;
    background: var(--violet);
    border-radius: 15px;
    min-height: calc(100% - 160px);
}

.dashboard__img {
    width: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 35px;
}

.dashboard__profile p {
    font-size: 14px;
    color: var(--pale-blue);
    margin-bottom: 5px;
}

.dashboard__profile h1 {
    font-weight: 300;
    font-size: 36px;
}

.dashboard__tabs {
    padding: 30px;
}

.dashboard__tab {
    display: block;
    background: transparent;
    border: 0;
    color: var(--desaturated-blue);
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease;
}

.dashboard__tab.active,
.dashboard__tab:hover {
    color: #fff;
}

.dashboard__tab:not(:last-child) {
    margin-bottom: 15px;
}

.dashboard__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.dashboard__card {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: right;
}

.dashboard__report {
    padding: 30px;
    background: #1D204B;
    border-radius: 15px;
    margin-top: 45px;
    transition: .3s ease;
}

.dashboard__report:hover {
    background: #34397B;
}

.dashboard__report--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.dashboard__report--head h2 {
    font-weight: 400;
    font-size: 18px;
}

.dashboard__report--head button {
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.dashboard__report button span {
    display: block;
    width: 5px;
    height: 5px;
    background: var(--pale-blue);
    border-radius: 50%;
    margin-left: 2px;
    transition: .3s ease;
}

.dashboard__report button:hover span {
    background: #fff;
}

.dashboard__report h3 {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 10px;
}

.dashboard__report p {
    color: var(--pale-blue);
    font-size: 14px;
}

@media screen and (max-width: 1070px) {
    .container {
        max-width: 720px;
    }
    .dashboard {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .dashboard__profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dashboard__img {
        width: 60px;
        margin-bottom: 0;
        margin-right: 15px;
    }
    .dashboard__profile h1 {
        font-size: 22px;
    }
    .dashboard__tabs {
        display: flex;
        justify-content: space-between;
        max-width: 290px;
        margin: 0 auto;
        padding: 25px;
    }
    .dashboard__tab:not(:last-child) {
        margin-bottom: 0;
    }
    .dashboard__content {
        grid-gap: 20px;
    }
    .dashboard__report {
        padding: 25px;
    }
    .dashboard__report h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .dashboard__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 540px) {
    .dashboard__content {
        grid-template-columns: 1fr;
    }
    .dashboard__report {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .dashboard__report--head {
        width: 100%;
        margin-bottom: 10px;
    }
    .dashboard__report h3 {
        margin-bottom: 0;
        font-size: 30px;
    }
}